body {
    background-image: url("achtergrond-woordzoeker.jpg");
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a:link, a:visited {
    display: block;
    width: 230px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000066;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #2EB8E6;
}

table, td {

    border-collapse: collapse;

    background-color:#FFFFFF ;

    margin : auto;

}

td {

    padding: 1px;

    text-align: center;

    font-size : 1.5em;

    width: 31px;

}

table{

    border: 2px solid black;

    height: auto;

    margin-left : auto;

    float: left;

    align: center;




}

#tabel { 

    padding : 20px;

    width : 80%;

    height : auto;

    background-color : #FFFFFF;

    margin : auto;

    margin-top: 25px;

}

div {

    text-align: center;

}